@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
  background-color: white;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  position: relative;
  top: -10px;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  font-family: 'Cinzel', sans-serif;
  font-size: clamp(12px, 2vw, 20px);
  font-weight: bold;
  transition: color 0.3s, background-color o.3s;
}

.nav-menu li a:hover {
  color: purple;
  background-color: #f1f1f1;
  ;
}

.social-media {
  display: flex;
}

.social-media a {
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
}

.social-media img {
  margin-left: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-width: 250px;
  max-width: 50%;
  margin-top: 10px;
  margin-bottom: -10px;
}

.logo-top,
.logo-bottom {
  width: 100%;
}

.logo-top img,
.logo-bottom img {
  width: 100%;
  height: auto;
}

.logo-top {
  animation: rotate3DOnce 3s linear;

}

.logo-bottom {
  z-index: 1;
}


@keyframes rotate3DOnce {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 30px;
}

.hamburger-layer {
  background: rgb(12, 12, 12);
  height: 4px;
  width: 100%;
  border-radius: 1px;
}

.image {
  position: relative;
  display: block;
  width: 100%;
}

.image img {
  display: block;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  object-fit: cover;
  filter: grayscale(100%);
}

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(204, 145, 204, 0.5), rgba(75, 0, 130, 0.5));
  mix-blend-mode: multiply;
  pointer-events: none;
}

.description {
  display: inline-block;
  background-color: #d8d0da;
  font-family: 'Cinzel', sans-serif;
  font-size: 3.3vw;
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.grid-container {
  display: grid;
  gap: 40px;
  padding: 40px;
  position: relative;
  filter: grayscale(70%);
}

.grid-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(12px, 2vw, 16px);
  background-color: rgba(255, 255, 255, 0.77);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.grid-item:nth-child(1) {
  animation-delay: .5s;
}

.grid-item:nth-child(2) {
  animation-delay: 1s;
}

.grid-item:nth-child(3) {
  animation-delay: 1.5s;
}

.grid-item:nth-child(4) {
  animation-delay: 2s;
}

.form-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #eddded, #7072c2, #c0bcc0, #8a78ba);
  /* background-color: #4B003F; */
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form {
  max-width: 1100px;
  width: 100%;
  padding: 20px;
  background-color: #222;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  margin: 0 5%;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: clamp(14px, 2vw, 18px);
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

.custom-checkbox:hover input~.checkmark {
  background-color: #c0a1c0;
}

.custom-checkbox input:checked~.checkmark {
  background-color: #8A2BE2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

input[type="submit"] {
  background-color: #702ba2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #592c7e;
}

.band-photo {
  max-width: 100%;
  height: auto;
}

.band-photo img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: relative;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px 0;
}

.social-icon {
  display: flex;
  justify-content: space-around;
  padding-left: 30vw;
  padding-right: 30vw;
  gap: 10px;
  margin-top: 20px;
}

.social-icon a {
  transition: all 0.5s ease-in-out;
}

.social-icon a img {
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
}

.social-icon a:hover img {
  filter: drop-shadow(0 0 10px #9b59b6) drop-shadow(0 0 20px #9b59b6) drop-shadow(0 0 30px #9b59b6);
}

.copyright {
  margin-top: 20px;
  font-family: 'cinzel', sans-serif;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: bold;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(155, 89, 182, 0.5), 0 0 10px rgba(155, 89, 182, 0.5);
}

/* Mobile view */
@media (max-width: 667px) {
  .nav-menu {
    display: none;
  }

  .social-media {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .form {
    margin: 0 2%;
  }
}

/* Tablet view */
@media (min-width: 668px) and (max-width: 1064px) {

  header {
    margin-top: 20px;
  }

  .hamburger {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .form {
    margin: 0 10%;
  }
}

/* Desktop view */
@media (min-width: 1065px) {
  header {
    margin-top: 20px;
  }

  .hamburger {
    display: none;
  }

  .description {
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .form {
    margin: 0 15%;
  }
}